table, td, th {
    border: 1px solid;
}

@media screen and (min-width: 480px) {
   div.couleurs {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
   }
   span.t-r {
        height: 25%;
        flex: 1;
        background: red;
   }
   span.l-v {
    font-size: 100px;
    width: 50%;
    background: green;

   }
   span.r-j {
    font-size: 100px;
    width: 50%;
    background: yellow;

   }
   span.b-b {
    font-size: 100px;
    height: 100px;
    background: blue;
    
    
   }
}